@use 'base';

$padding-default: 10px;

.shop-list {
	min-width: 320px;
	border: 2px solid base.$primary-color;

	.navbar {
		.nav-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: $padding-default;
			color: white;
			font-size: 14px;
			font-weight: bold;
			background-color: base.$primary-color;

			.logo {
				height: 28px;
			}

			.city-select {
				line-height: 28px;
				cursor: pointer;
			}
		}

		.nav-map {
			background: white;
			padding: 10px;

			.city-name {
				margin-right: 16px;
				cursor: pointer;
			}

			.city-name-selected {
				border-bottom: 2px solid base.$primary-color;
			}
		}
	}

	.container {
		padding: $padding-default;
		height: calc(100vh - 48px);
		overflow-y: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */

  		.shop-card  {
  			height: 110px;

  			.shop-card-name-wrap p {
				padding: 0;
  			}
  		}
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.container::-webkit-scrollbar {
  		display: none;
	}
}

.shop-detail-close {
	position: fixed;
	bottom: 20px;
	left: 340px;
	color: white;
	border: none;
	height: 40px;
	width: 40px;
	border-radius: 40px;
	cursor: pointer;
	background: base.$primary-color;
}

.shop-list .shop-card {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.guide-to-pc {
	text-align: center;
	font-size: 12px;
	color: #444;
	margin-bottom: 20px;
}

@media (max-width: 600px) {
	.shop-list {
		width: 100vw;
	}
}