@use 'base';

$padding-default: 10px;

.shop-list {
	min-width: 320px;
	border: 2px solid base.$primary-color;

	.navbar {
		.nav-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: $padding-default;
			color: white;
			font-size: 14px;
			font-weight: bold;
			background-color: base.$primary-color;

			.logo {
				height: 28px;
			}

			.city-select {
				line-height: 28px;
			}
		}

		.nav-map {
			text-align: center;
		}
	}

	.container {
		padding: $padding-default;
		height: calc(100vh - 48px);
		overflow-y: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */

  		.shop-card  {
  			height: 90px;
  		}
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.container::-webkit-scrollbar {
  		display: none;
	}
}

.shop-list .shop-card {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.guide-to-pc {
	text-align: center;
	font-size: 12px;
	color: #444;
	margin-bottom: 20px;
}